body {
    justify-content: center;
}
h1 {
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(76, 170, 92);
}
.boundary {
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#output {
    font-size: 60px;
    text-align: right;
    height: 70px;
    padding: 7px;
    background-color: rgb(151, 149, 149);
    border: 2px solid white;
    color: white;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row div {
    width: 75px;
    font-size: 32px;
    text-align: center;
    padding: 2px;
    border: 2px solid white;
    background-color: lightskyblue;
}
.row div.operator {
    background-color: rgb(250, 222, 62);
}